<div class="pencere">
  <div class="grid">
  <div class=" col-12" style="display: inline-flex; background-color:#282b55;height: 150px; width: 100%;">
    <div class="col-8 "><h3 class="mt-6 ml-4" style="color:white">Doğukan Songür</h3></div>
    <div class="col-4 SearchNav">
      <div class="col-12">  <input
        [ngStyle]="{
          
          'margin-left':'100px',
          'margin-right': '5px',
          'width':'400px',
          'height': '50px',
          'border-radius': '10px'
        }"
        placeholder="Haberlere göz atın"
      /></div>
      <div class="col-12 p-0 " ><nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <a class="navbar-brand" routerLink="">Haberler</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="">Anasayfa <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="categories">Kategoriler <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="about">Hakkında<span class="sr-only"></span></a>
            </li>
          </ul>
        </div>
      </nav></div>
    </div>
  </div>
</div>
</div>