<div class="pencere">
  <div
    class=" grid   colon"
    style="
      width: 250px;
      background-color: #dedede;
     display:block
    "
  >
    <div ><img src="assets/img/resim.jpg" width=100px alt="Doğukan Songür" class="cv-image" style="margin-left:50px ;" /></div>
    <div  style="margin-left: 30px;margin-top:0px;">Doğukan Songür</div>
    <h5 style="color: blue;margin-bottom:0;margin-top: 0;">Kişisel Bilgiler</h5>
    <p style="font-size: 14px">
      Doğum tarihi:10/03/1999 Medeni Durumu:Bekar Sürücü Belgesi:B Askerlik
      Durumu: Tecilli 
      Seyahat Engeli:Yok
    </p>
    <h5 style="color: blue">İletişim</h5>
    <p style="font-size: 14px">
      Cep Telefonu:0 (507) 676 1353 Eposta:dogukansongur1@gmail.com
    </p>
    <h5 style="color: blue">Hobiler</h5>
    <p style="font-size: 14px">Serbest Dalış Yüzme Baketbol</p>
  </div>
  <div
    
    style="width: calc(100%-250px); margin-left: 250px;margin-top: 55px; display: block"
  >
  <div style="width: calc(100%250px);">
    <h2 style="color: blue">Eğitim</h2>
    <p style="margin-left:20px ;">
      TRAKYA ÜNİVERSİTESİ BİLGİSAYAR MÜHENDİSLİĞİ LİSANS ÖĞRENCİSİ BAŞLAMA
      TARİHİ:09/10/2017 MİLLİ PİYANGO ANADOLU LİSESİ(2013-2017)
      (İNGİLİZCE-ALMANCA)
    </p>
    <h2 style="color: blue">SERTİFİKALAR&SEMİNERLER</h2>
    <div style="margin-left: 20px">
      <h5 style="color: blue">07/03/2020</h5>
      <p>
        T.C. CUMHUTBAŞKANLIĞI SAVUNMA SANAYİİ BAŞKANLIĞI SİBER GÜVENLİK EĞİTİM
        PROGRAMI
      </p>
      <h5 style="color: blue">18/10/2020</h5>
      <p>INTERNET OF THINGS &YAPAY ZEKA</p>
      <h5 style="color: blue">08/05/2018</h5>
      <p>
        PROJEBAHARI7 TET AR-GE PROJE PAZARI İNOVASYON VE GİRİŞİMCİLİK SEMİNERİ
      </p>

      <h5 style="color: blue">16/11/2017</h5>
      <p>LÜLEBURGAZ HACKHATLON 2017</p>
      <h5 style="color: blue">01/2016–01/2017</h5>
      <p>YDS DİL KURSU</p>
      <p>C1 İNGİLİZCE</p>
      <p>B1 ALMANCA</p>
    </div>
    <h2 style="color: blue">YETKİNLİKLER</h2>
    <img src="assets/img/yetenek.png" alt="">
    <h2 style="color: blue">DENEYİMLER VE PROJELER</h2>
    <h4 class="ml-5" style="color: blue; margin-left: 20px">İŞ DENEYİMİ</h4>
    <h5 style="margin-left: 40px; color: darkblue">LOGO YAZILIM(02/2022-10/2022)</h5>
    <div style="margin-left: 60px">
      <p>FRONTEND DEVELOPER</p>
      <p>YAZILIM GELİŞTİRME UZMAN YARDIMCISI</p>
    </div>
    <h4 class="ml-5" style="color: blue; margin-left: 20px">PROJELER</h4>
    <div style="margin-left:60px">
    <p>MAKİNE ÖĞRENMESİ VE VERİ ANALİZİ (MSSQL, PYTHON,.NET CORE )</p>
    <p>KURUMSAL WEB SİTESİ TASARIM</p>
</div>
</div>
  </div>
</div>
